{% extends 'base.html' %}

{% block title %}&ndash; Profile{% endblock %}

{% block content %}

<div id="profile-page-container">
  <div id="welcome-message">
    {% if g.user.username == user.username %}
    <h2 class=""> Hi, {{ user.username }} </h2>
    {% else %}
    <h2 class=""> {{user.username}} </h2>
    {% endif %}
  </div>

  <div id="profile-rows" class="row">
    <div id="profile-card" class="card rounded-4 col-md-4 p-0" style="width:20rem">
      <img src="{{ user.profile_photo }}" class="card-img-top rounded-4" alt="Image for {{ user.username }}" id="profile-avatar">
      <div class="card-body">
        <p class="card-text"> Bio: {{ user.bio or "No bio provided"}}</p>
        <p class="card-text"> Radius: {{user.friend_radius}} miles</p>
        <div class="vstack gap-2 mx-auto col-5 mt-4">
          {% if g.user.username == user.username %}
          <a href="{{user.username}}/edit" class="btn btn-primary">Edit</a>
          <a href="{{user.username}}/delete" class="btn btn-danger ">Delete</a>
          {% else %}
          <a href="#" class="btn btn-primary">Friend</a>
          {% endif %}
        </div>
      </div>
    </div>
    <div id="profile-info" class="ms-4 col-md-8">
      <div id="profile-name">
        <p class="fw-bold"> First Name </p>
        <p class="fs-6"> {{ user.first_name}} </p>
        <p class="fw-bold"> Last Name </p>
        <p class="fs-6"> {{ user.last_name}} </p>
      </div>
      <div id="profile-location">
        <p class="fw-bold"> Zipcode </p>
        <p class="fs-6"> {{ user.zipcode}} </p>
      </div>
      <div id="profile-activities">
        <p class="fw-bold"> Interests </p>
        <ul class="list-group list-group-horizontal-lg flex-wrap">
          <!-- TODO: handle wrapping better -->
          {% if user.interests %}
          {% for interest in user.interests %}
          <li class="list-group-item fs-6"> {{ interest.name }}</li>
          {% endfor %}
          {% else %}
          <li class="list-group-item fs-6"> No Interests added! </li>
          {% endif %}
        </ul>
        <p class="fw-bold mt-3"> Hobbies </p>
        <ul class="list-group list-group-horizontal-lg flex-wrap">
          <!-- TODO: handle wrapping better -->
          {% if user.hobbies %}
          {% for hobby in user.hobbies %}
          <li class="list-group-item fs-6"> {{ hobby.name }}</li>
          {% endfor %}
          {% else %}
          <li class="list-group-item fs-6"> No Hobbies added! </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock %}